
.nav-link {
    color: rgb(196, 196, 196);
    display: inline;
    padding: 5px;
    
}
.container-fluid {
    padding-left: 50px;
    padding-right: 50px;   
    margin-left: 100px;
}
.links {
    padding-right: 100px;
}
.text {
    padding: 20px;
    padding-left: 10%;
    padding-right: 20%;
}
.row {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 20px;
}
.Title {
    text-align: center;
}
.button {
    text-align: center;
}
.text-card {
    text-align: center;
    margin-bottom: 30px;
}
.footer {
    background: black;
    height: 100px;
}
.website {
    color: white;
    text-align: center;
  padding-top: 35px;
}