.navbar-brand {
    color:white;
    margin-left: 80px;
}
.nav-link {
    color: white;
}
.links {
    margin-left: 80%;
}
.text {
    padding: 20px;
    padding-left: 10%;
    padding-right: 20%;
    margin-top: 40px;
}
.row {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 20px;
}
.Title {
    text-align: center;
}
.button {
    text-align: center;
}
.text-card {
    text-align: center;
    margin-bottom: 30px;
}
.footer {
    background: rgb(22, 22, 22);
    height: 100px;
}
.website {
    color: white;
    text-align: center;
  padding-top: 35px;
}